# Database Configuration
DB_HOST=sqlserver
DB_PORT=1433
DB_NAME=master
DB_USERNAME=sa
DB_PASSWORD=MyPassword123!

# JWT Configuration
JWT_SECRET=tu_llave_secreta_muy_segura_con_minimo_32_caracteres_para_hs256
JWT_EXPIRATION=86400000

# SMTP (Opcional para futuros envíos de correos)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASSWORD=tu_contraseña_app

# SQL Server Environment
ACCEPT_EULA=Y
MSSQL_PID=Developer
